.logo{
    width: 50px;
    height: 50px;
}
.container{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;
}
header h1{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}
main section{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(240, 248, 255);
    padding: 25px;
    border-radius: 12px;
    box-shadow: #6d2674 10px 10px 20px;
}
section h2{
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}
.form label{
    font-weight: 500;
}
.form-control{
    border-radius: 8px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: aliceblue;
    color: black;
    text-align: center;
    padding: 10px 0;
}
